name: uae_pass
description: A UAE Pass plugin for Flutter for iOS and Android only. This is an unofficial version.
version: 0.0.1
homepage: https://github.com/MohamedAbd0/uae_pass
repository: https://github.com/MohamedAbd0/uae_pass
issue_tracker: https://github.com/MohamedAbd0/uae_pass/issues

environment:
  sdk: ">=3.0.2 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.mvpapps.uae_pass_flutter
        pluginClass: UaePassFlutterPlugin
      ios:
        pluginClass: UaePassPlugin


